<section
  id="about"
  class="mb-16 scroll-mt-16 lg:scroll-mt-24"
  aria-label="About me"
>
  <div
    class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-secondary/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12"
  >
    <h2
      class="text-sm lg:text-xl font-bold uppercase tracking-widest text-textPrimary"
    >
      About
    </h2>
  </div>
  <div>
    <p class="mb-4">
      Hello! I’m Jonathan Meichtry, a dedicated <span class="text-primary">Frontend Developer</span> with a strong background in building <span class="text-primary">engaging</span> and <span class="text-primary">responsive</span> web applications. With over <span class="text-primary">two years</span> of experience working with <span class="text-primary">Angular</span>, <span class="text-primary">React</span>, and <span class="text-primary">Tailwind CSS</span>, I excel at creating seamless <span class="text-primary">user experiences</span> that are both <span class="text-primary">visually appealing</span> and highly <span class="text-primary">functional</span>.
    </p>
    <p class="mb-4">
      My approach combines <span class="text-primary">technical expertise</span> with a keen eye for <span class="text-primary">design</span>, ensuring that each project not only meets <span class="text-primary">performance standards</span> but also delivers an <span class="text-primary">inclusive experience</span> for all users. I’m passionate about <span class="text-primary">continuous learning</span> and always stay updated with the latest <span class="text-primary">web development trends</span> to provide innovative solutions.
    </p>
    <h3 class="text-xl font-semibold border-b-2 border-primary pb-2 mb-4">Technical Skills</h3>
    <ul class="list-disc pl-6 space-y-2 mb-6">
      <li><span class="font-semibold">Languages & Frameworks</span>: JavaScript, TypeScript, Angular, Ionic, React, React Native</li>
      <li><span class="font-semibold">Styling</span>: Tailwind CSS, SCSS, LESS  </li>
      <li><span class="font-semibold">Tools</span>: Git, CI/CD pipelines, Jenkins, Argo-CD</li>
    </ul>

    <h3 class="text-xl font-semibold border-b-2 border-primary pb-2 mb-4">Education & Certifications</h3>
    <ul class="list-disc pl-6 space-y-2 mb-6">
      <li><span class="font-semibold">Bachelor’s Degree in Advanced Programming Technician</span> from Teclab Higher Technical Institute</li>
      <li><span class="font-semibold">Certification in many Platzi and Udemy courses related to programming</span></li>
    </ul>
  </div>
</section>
