<nav class="nav hidden lg:block" aria-label="In-page jump links">
  <ul class="mt-16 w-max">
    <li>
      <a class="group flex items-center py-3" href="#about">
        <span
          class="nav-indicator mr-4 h-px w-8 bg-secondary transition-all group-hover:w-16 group-hover:bg-primary group-focus-visible:w-16 group-focus-visible:bg-primary motion-reduce:transition-none"
        ></span>
        <span
          class="nav-text text-xs font-bold uppercase tracking-widest text-textPrimary group-hover:text-primary group-focus-visible:text-primary"
        >About</span>
      </a>
    </li>
    <li>
      <a class="group flex items-center py-3" href="#experience">
        <span
          class="nav-indicator mr-4 h-px w-8 bg-secondary transition-all group-hover:w-16 group-hover:bg-primary group-focus-visible:w-16 group-focus-visible:bg-primary motion-reduce:transition-none"
        ></span>
        <span
          class="nav-text text-xs font-bold uppercase tracking-widest text-textPrimary group-hover:text-primary group-focus-visible:text-primary"
        >Experience</span>
      </a>
    </li>
    <li>
      <a class="group flex items-center py-3" href="#projects">
        <span
          class="nav-indicator mr-4 h-px w-8 bg-secondary transition-all group-hover:w-16 group-hover:bg-primary group-focus-visible:w-16 group-focus-visible:bg-primary motion-reduce:transition-none"
        ></span>
        <span
          class="nav-text text-xs font-bold uppercase tracking-widest text-textPrimary group-hover:text-primary group-focus-visible:text-primary"
        >Projects</span>
      </a>
    </li>
  </ul>
</nav>
