<section id="experience" class="mb-16 scroll-mt-16 lg:scroll-mt-24" aria-label="Work experience">
  <div class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-secondary/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12">
    <h2
      class="text-sm lg:text-xl font-bold uppercase tracking-widest text-textPrimary"
    >Experience</h2>
  </div>
  <div>
    <ol class="group/list">
      <li class="mb-12">
        <div class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50">
          <div class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-backgroundSecondary/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"></div>
          <header class="z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-red-200 sm:col-span-2" aria-label="2024 to Present">2022 — Present</header>
          <div class="z-10 sm:col-span-6">
            <h3 class="font-medium leading-snug text-textPrimary">
              <div>
                <a class="inline-flex items-baseline font-medium leading-tight text-textPrimary hover:text-primary focus-visible:text-primary group/link text-base" href="https://www.aicore.com.ar" target="_blank" rel="noreferrer noopener" aria-label="Frontend Developer, Accessibility at Aicore page (opens in a new tab)">
                  <span class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"></span>
                  <span>Semi Senior Frontend Developer<span class="inline-block"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px" aria-hidden="true"><path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z" clip-rule="evenodd"></path></svg></span></span>
                </a>
              </div>
            </h3>
            <h4 class="text-sm leading-snug text-textPrimary my-4">Ai Core IT Specialist · Jornada completa</h4>
            <p class="mt-2 text-sm leading-normal text-red-200">Maintaining a project for the multinational company Fiserv, where I resolve bugs and issues, and develop new features. I utilize best practices and the latest versions of Angular, working closely with a team following the Scrum methodology.</p>
            <ul class="mt-2 flex flex-wrap" aria-label="Technologies used">
              <li class="mr-1.5 mt-2">
                <div class="flex items-center rounded-full bg-red-400/10 px-3 py-1 text-xs font-medium leading-5 text-red-300">Angular</div>
              </li>
              <li class="mr-1.5 mt-2">
                <div class="flex items-center rounded-full bg-red-400/10 px-3 py-1 text-xs font-medium leading-5 text-red-300">TypeScript</div>
              </li>
              <li class="mr-1.5 mt-2">
                <div class="flex items-center rounded-full bg-red-400/10 px-3 py-1 text-xs font-medium leading-5 text-red-300">Scrum</div>
              </li>
              <li class="mr-1.5 mt-2">
                <div class="flex items-center rounded-full bg-red-400/10 px-3 py-1 text-xs font-medium leading-5 text-red-300">Argo-CD</div>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="mb-12">
        <div class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50">
          <div class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-backgroundSecondary/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"></div>
          <header class="z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-red-200 sm:col-span-2" aria-label="2024 to Present">2021 — 2022</header>
          <div class="z-10 sm:col-span-6">
            <h3 class="font-medium leading-snug text-textPrimary">
              <div>
                <a class="inline-flex items-baseline font-medium leading-tight text-textPrimary hover:text-primary focus-visible:text-primary group/link text-base" href="https://www.digitalmotus.io/es" target="_blank" rel="noreferrer noopener" aria-label="Frontend web developer, Accessibility at digital motus (opens in a new tab)">
                  <span class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"></span>
                  <span>Frontend Web Developer<span class="inline-block"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px" aria-hidden="true"><path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z" clip-rule="evenodd"></path></svg></span></span>
                </a>
              </div>
            </h3>
            <h4 class="text-sm leading-snug text-textPrimary my-4">Digital Motus · Jornada completa</h4>
            <p class="mt-2 text-sm leading-normal text-red-200">With React to develop a web application for a clothing store, which included viewing products, managing inventory, handling branch locations, and automating business processes.</p>
            <ul class="mt-2 flex flex-wrap" aria-label="Technologies used">
              <li class="mr-1.5 mt-2">
                <div class="flex items-center rounded-full bg-red-400/10 px-3 py-1 text-xs font-medium leading-5 text-red-300">React</div>
              </li>
              <li class="mr-1.5 mt-2">
                <div class="flex items-center rounded-full bg-red-400/10 px-3 py-1 text-xs font-medium leading-5 text-red-300">Less</div>
              </li>
              <li class="mr-1.5 mt-2">
                <div class="flex items-center rounded-full bg-red-400/10 px-3 py-1 text-xs font-medium leading-5 text-red-300">Docker</div>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="mb-12">
        <div class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50">
          <div class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-backgroundSecondary/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"></div>
          <header class="z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-red-200 sm:col-span-2" aria-label="2024 to Present">2021 — 2021</header>
          <div class="z-10 sm:col-span-6">
            <h3 class="font-medium leading-snug text-textPrimary">
              <div>
                <a class="inline-flex items-baseline font-medium leading-tight text-textPrimary hover:text-primary focus-visible:text-primary group/link text-base" href="https://jonathan-meichtry.web.app/home" target="_blank" rel="noreferrer noopener" aria-label="Frontend web developer, Accessibility at old portfolio (opens in a new tab)">
                  <span class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"></span>
                  <span>Front-End Developer <span class="inline-block"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px" aria-hidden="true"><path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z" clip-rule="evenodd"></path></svg></span></span>
                </a>
              </div>
            </h3>
            <p class="mt-2 text-sm leading-normal text-red-200">I developed various projects for personal use and for friends using Angular, React, Node, among other technologies, which allowed me to showcase my web development skills.</p>
            <ul class="mt-2 flex flex-wrap" aria-label="Technologies used">
              <li class="mr-1.5 mt-2">
                <div class="flex items-center rounded-full bg-red-400/10 px-3 py-1 text-xs font-medium leading-5 text-red-300">React</div>
              </li>
              <li class="mr-1.5 mt-2">
                <div class="flex items-center rounded-full bg-red-400/10 px-3 py-1 text-xs font-medium leading-5 text-red-300">Angular</div>
              </li>
              <li class="mr-1.5 mt-2">
                <div class="flex items-center rounded-full bg-red-400/10 px-3 py-1 text-xs font-medium leading-5 text-red-300">Node</div>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="mb-12">
        <div class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50">
          <div class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-backgroundSecondary/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"></div>
          <header class="z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-red-200 sm:col-span-2" aria-label="2024 to Present">2021 — 2021</header>
          <div class="z-10 sm:col-span-6">
            <h3 class="font-medium leading-snug text-textPrimary">
              <div>
                <a class="inline-flex items-baseline font-medium leading-tight text-textPrimary hover:text-primary focus-visible:text-primary group/link text-base" href="https://www.rosariomobileapps.com/" target="_blank" rel="noreferrer noopener" aria-label="Mobile application development, Accessibility at rosaroi mobil apps web (opens in a new tab)">
                  <span class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"></span>
                  <span>Mobile Application Development<span class="inline-block"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px" aria-hidden="true"><path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z" clip-rule="evenodd"></path></svg></span></span>
                </a>
              </div>
            </h3>
            <h4 class="text-sm leading-snug text-textPrimary my-4">Rosario Movil Apps</h4>
            <p class="mt-2 text-sm leading-normal text-red-200">I completed an internship at a small startup where I developed mobile applications using technologies such as Framework7, and worked with the full web environment, including HTML5, CSS, and JavaScript.</p>
            <ul class="mt-2 flex flex-wrap" aria-label="Technologies used">
              <li class="mr-1.5 mt-2">
                <div class="flex items-center rounded-full bg-red-400/10 px-3 py-1 text-xs font-medium leading-5 text-red-300">Framework7</div>
              </li>
              <li class="mr-1.5 mt-2">
                <div class="flex items-center rounded-full bg-red-400/10 px-3 py-1 text-xs font-medium leading-5 text-red-300">JavaScript</div>
              </li>
              <li class="mr-1.5 mt-2">
                <div class="flex items-center rounded-full bg-red-400/10 px-3 py-1 text-xs font-medium leading-5 text-red-300">HTML5</div>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ol>
  </div>
</section>
